<?xml version="1.0"?>
<configuration>
  
<configSections>
</configSections>
  
<connectionStrings>
  
    <add name="NVRControlServer.Properties.Settings.DKServerConnectionString"
        connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=G:\中山猪场\动科控制服务器\NVRControlServer2014-11-9\NVRControlServer\DataBase\DKServer.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
         providerName="System.Data.SqlClient" />

  <add name="SqlConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=G:\中山猪场\动科控制服务器\NVRControlServer2014-11-9\NVRControlServer\DataBase\DKServer.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"/>
  
  
  <!--<add name="NVRControlServer.Properties.Settings.DKServerConnectionString"
    connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=G:\中山猪场\动科控制服务器\NVRControlServer2014-11-9\NVRControlServer\DataBase\DKServer.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
     providerName="System.Data.SqlClient" />-->
  
</connectionStrings>
  
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>

</configuration>
